.inscreverse-button{ 
  background-color: rgb(226, 10, 10);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.inscreverse-button:hover {
opacity: 0.7;

}

.inscreverse-button:active{
opacity: 0.5;

}

.entrar-button{
background-color: white;
color: rgb(12, 108, 218); 
border-color: rgb(10, 106, 216);
border-style: solid;
border-width: 1px;
padding-left: 16px;
padding-right: 16px;
padding-top: 9px;
padding-bottom: 9px;
border-radius: 2px;
cursor: pointer;
margin-right: 7px;
vertical-align: top;
transition: background-color 0.2s, opacity 0.2s;
}

.entrar-button:hover{
background-color: rgb(10, 106, 216);
color: white;
}

.entrar-button:active{
opacity: 0.7;
}

.twittar-button {
background-color: rgb(35, 122, 235);
color: white;
border: none;
border-radius: 18px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
cursor: pointer;
font-weight: bold;
font-size: 14px;
transition: box-shadow 0.15s;
vertical-align: top;
}

.twittar-button:hover{
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.uber-button{
color: white;
background-color: black;
border: none;
padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
padding-bottom: 10px;
cursor: pointer;
margin-right: 8px;
transition: opacity 0.15s;
}
.uber-button:hover{
opacity: 0.8;
}

.amazon-button {
color: black;
background-color: rgb(255, 220, 45);
border: none;
border-radius: 20px;
padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
padding-bottom: 10px;
cursor: pointer;
transition: background-color 0,15s;
}
.amazon-button:hover{
  background-color: rgb(255, 230, 4);
}

.github-button{
color: white;
background-color: rgb(46, 164, 79);
border: none;
border-radius: 4px;
padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
padding-bottom: 10px;
margin-left: 8px;
cursor: pointer;
transition: box-shadow 0.15s;
}

.github-button:hover{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.bootstrap-button{
color: white;
background-color: rgb(121, 82,179);
border: none;
border-radius: 3px;
padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
margin-right: 2px;
cursor: pointer;
transition: background-color 0.15s;
}
.bootstrap-button:hover{
background-color: rgb(99, 62, 155);
}

.bootstrap-button2{
color: gray;
background-color: whitesmoke;
border-radius: 3px;
border: solid;
border-width: 1px;
padding-left: 16px;
padding-right: 16px;
padding-top: 9px;
padding-bottom: 9px;
font-weight: bold;
cursor: pointer;
margin-right: 8px;
transition: background-color 0.15s, color 0.15s;
}
.bootstrap-button2:hover{
background-color: gray;
color: whitesmoke;
}

.linkedin-button{
color: white;
background-color: rgb(10, 102, 194);
border: none;
border-radius: 18px;
font-weight: bold;
padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
padding-bottom: 10px;
cursor: pointer;
transition: background-color 0.15s;
}
.linkedin-button:hover{
  background-color: rgb(5, 80, 155);
}

.linkedin-button2{
color: rgb(10, 102, 194);
background-color: white;
border-color: rgb(10, 102, 194);
border-radius: 18px;
border: solid;
padding-left: 16px;
padding-right: 16px;
padding-top: 9px;
padding-bottom: 9px;
font-weight: bold;
border-width: 1px;
cursor: pointer;
transition: background-color 0.15s, border-width 0.1s;
}

.linkedin-button2:hover{
  background-color: rgb(227, 231, 255);
border-width: 2px;
padding-left: 15px;
padding-right: 15px;
padding-top: 8px;
padding-bottom: 8px;
}

.link{
color: rgb(0, 113, 133);
}
.link:hover{
color: rgb(224, 153, 20);
}

.titulo{
font-weight:  bold;
font-size: 22px;
}

.preco{
color: rgb(0, 119, 0);
font-weight: bold;
font-size: 19px;
}

.exercicioamazon{
  color: black;
  background-color: rgb(255, 243, 25);
  border-radius: 12px;
  border: none;
  padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
margin-right: 8px;
cursor: pointer;
transition: background-color 0.15s, opacity 0.15s;
}
.exercicioamazon:hover{
  background-color: rgb(241, 209, 22);
}
.exercicioamazon:active{
  opacity: 0.7;
}

.exercicioamazon2{
  color: black;
  background-color: rgb(245, 170, 30);
  border-radius: 12px;
  border: none;
  padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
cursor: pointer;
transition: background-color 0.15s, opacity 0.15s;
}
.exercicioamazon2:hover{
background-color: rgb(235, 152, 0);
}
.exercicioamazon2:active{
opacity: 0.7;
}

.entrega{
  font-size: 18px;
}
.numeracao{
margin-left: 4px;
margin-right: 4px;
font-size: 18px;
}
.paginacao{
cursor: pointer;
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
}

.estica{
cursor: pointer;
color: white;
background-color: green;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border: none;
font-size: 18px;
transition: padding 0.15s;

}
.estica:hover{
padding-left: 30px;
padding-right: 30px;
padding-top: 20px;
padding-bottom: 20px;
}
